.custom-thumbs-up,
.custom-thumbs-down {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
}

article[data-isad="true"] {
    display: none !important;
}
